services:
  pushgateway:
    image: prom/pushgateway:latest
    ports:
      - "9091:9091"

  etl-probe:
    build:
      context: ..
      dockerfile: e2e/Dockerfile
      network: host
    depends_on:
      - pushgateway
    environment:
      # Prometheus Pushgateway config for ETL
      METRICS_BACKEND: pushgateway
      PUSHGATEWAY_URL: http://pushgateway:9091
    volumes:
      - ./testdata:/data:ro

