name: Unit tests

env:
  binary: csvimporter

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  schedule:
    - cron: "00 06 * * 6"
  pull_request:
    branches: [ "master" ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare a Go env
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.20'
          cache: false

      - name: Build
        run: |
          cd etl
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o ${{ env.binary }} ./cmd/etl/

      - name: Unit tests
        run: |
          cd etl
          go test ./... 

      - name: E2E tests
        run: |
          cd e2e
          ./test.sh

